* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--secondary-color); }

:root {
  --primary-color: #FFF;
  --secondary-light-color: #f5f9fc;
  --secondary-color: #eff4fa;
  --secondary-medium-color: #83909d;
  --secondary-dark-color: #566777;
  --tertiary-color: #ff6f89;
  --button-primary-color: #4990e2;
  --button-secondary-color: #f8e71d;
  --shadow-primary-color: #e4edf3; }

section:focus {
  outline: 0; }

.side-bar {
  width: 7rem;
  height: 100vh;
  position: fixed;
  background-color: var(--primary-color);
  box-shadow: 0.3rem 0 0.3rem var(--shadow-primary-color); }

.home-section, .about-section, .education-section, .skills-section, .contact-section {
  height: 100vh;
  margin-left: 7rem;
  overflow: hidden; }

.one {
  height: 60rem;
  display: block;
  margin: 0 6rem 0 6rem;
  background-color: var(--primary-color);
  box-shadow: 0.3rem 0.3rem 0.3rem var(--shadow-primary-color); }

.first-aside {
  margin-top: 6rem; }

.logo-container {
  width: 100%;
  margin-bottom: 20rem;
  border-bottom: 0.2rem solid var(--secondary-color); }

.menu {
  list-style: none;
  position: relative; }
  .menu li > a {
    color: var(--secondary-medium-color);
    text-align: center;
    padding: 1rem;
    font-size: 1.7rem;
    display: block;
    transition: all .2s; }
  .menu.bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0; }
    .menu.bottom li > a:link,
    .menu.bottom li > a:visited {
      font-size: 1.4rem;
      transition: color .6s; }
    .menu.bottom li > a:hover {
      color: var(--tertiary-color); }

.li-hover > a.active {
  background-color: var(--tertiary-color);
  color: var(--primary-color); }

.li-hover > a:link:hover:not(.active),
.li-hover > a:visited:hover:not(.active) {
  background-color: var(--button-primary-color);
  color: var(--primary-color); }

.logo-container > a:link,
.logo-container > a:visited {
  color: var(--tertiary-color);
  font-size: 3rem;
  display: block;
  padding: 1rem;
  text-align: center; }
