* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--secondary-color);   
}

:root {
    --primary-color: #FFF;
    --secondary-light-color: #f5f9fc;
    --secondary-color: #eff4fa;
    --secondary-medium-color: #83909d;
    --secondary-dark-color: #566777;
    --tertiary-color: #ff6f89;
    --button-primary-color: #4990e2;
    --button-secondary-color: #f8e71d;
    --shadow-primary-color: #e4edf3;
    
}