section:focus {outline:0;}

.side-bar {
    width: 7rem;
    height: 100vh;
    position: fixed;
    background-color: var(--primary-color);
    box-shadow: .3rem 0 .3rem var(--shadow-primary-color);
}

.home-section, .about-section, .education-section, .skills-section, .contact-section {
    height: 100vh;
    margin-left: 7rem;
    overflow: hidden;
}

.one {
    height: 60rem;
    display: block;
    margin: 0 6rem 0 6rem;
    background-color: var(--primary-color);
    box-shadow: .3rem .3rem .3rem var(--shadow-primary-color);
}

.first-aside {
    margin-top: 6rem;
}

.logo-container {
    width: 100%;
    margin-bottom: 20rem;
    border-bottom: .2rem solid var(--secondary-color);
}